body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(226, 226, 226);
  height: 100%;
}

.h4 {
  margin: 20px 0px 0px 20px ;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.img {
  width: 150px;
}

.navbar {
  border-radius: 20px;
}

.carousel {
  max-width: 100vh;
  border-radius: 10px;
}

.first .second.thirth {
  width: 400px;
}

.main {
  display: flex;
}

.main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.list {
  margin-top: 40px;
}

.f, .i, .t {
  width: 30px;
  margin-left: 20px;
  margin-top: 20px;
}
.aside-article {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 40vh;
  height: 100vh;

}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}